version: "3.7"

services:
  redis:
    env_file:
      - .env
    image: redis:latest
    hostname: ${REDIS_CONTAINER_NAME}
    container_name: ${REDIS_CONTAINER_NAME}
    ports:
      - "6379:6379"
    networks:
      - counter_service_net

  counter-service:
    env_file:
      - .env
    image: ${COUNTER_SERVICE_IMAGE}
    container_name: ${COUNTER_SERVICE_CONTAINER_NAME}
    environment:
      REDIS_HOST: ${REDIS_CONTAINER_NAME}
    ports:
      - "80:80"
    depends_on:
      - redis
    networks:
      - counter_service_net

networks:
  counter_service_net:
    driver: bridge
