version: "3"

services:
  redis:
    hostname: redis
    image: redis:latest
    ports:
      - "6379:6379"

  counter-service:
    image: tfrisz/counter-service:latest
    environment:
      REDIS_HOST: redis
      REDIS_PORT: "6379"
    ports:
      - "80:80"