version: "3.3"

services:
  redis:
    image: redis:latest
    hostname: redis
    ports:
      - "6379:6379"
    networks:
      - counter_service_net

  counter-service:
    image: placeholder_image
    ports:
      - "80:80"
    depends_on:
      - redis
    networks:
      - counter_service_net

networks:
  counter_service_net:
    driver: bridge
